Meeting Prep Agent v2(3).json
{
  "name": "Meeting Prep Agent v2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "332ac717-6d9e-4bb1-a29c-415f2519f7d0",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "f94cd637-1254-4d50-af94-7a1d5e9b135f",
              "name": "description",
              "type": "string",
              "value": "={{ $json.additionalNotes }}"
            },
            {
              "id": "c527097e-949d-4a34-a1bd-ef47105c064f",
              "name": "videoCallUrl",
              "type": "string",
              "value": "={{ $json.metadata.videoCallUrl }}"
            },
            {
              "id": "ceb36c00-ced6-49a6-8fd5-81feebb62cc9",
              "name": "status",
              "type": "string",
              "value": "={{ $json.status }}"
            },
            {
              "id": "1b49259d-fe8d-4582-b8d9-0cc4eee83e83",
              "name": "length",
              "type": "number",
              "value": "={{ $json.length }}"
            },
            {
              "id": "fee35065-650b-4b94-96f9-6dcf4306fc69",
              "name": "name",
              "type": "string",
              "value": "={{ $json.responses.name.value }}"
            },
            {
              "id": "0372c2d0-abe2-42c0-8a3e-45be7e802e1d",
              "name": "email",
              "type": "string",
              "value": "={{ $json.responses.email.value }}"
            },
            {
              "id": "de9e48b5-02b0-4648-bd61-c4391cdc216d",
              "name": "responsesnotes",
              "type": "string",
              "value": "={{ $json.responses.notes.value }}"
            },
            {
              "id": "4afed284-dc20-450a-85bb-3a676a382411",
              "name": "startTime",
              "type": "string",
              "value": "={{ $json.startTime }}"
            },
            {
              "id": "4ba399f9-3df0-4437-86e8-f2bf5a67aa61",
              "name": "endTime",
              "type": "string",
              "value": "={{ $json.endTime }}"
            },
            {
              "id": "753b9aca-a068-4f0e-ace1-827edaac1a62",
              "name": "agenda",
              "type": "string",
              "value": "={{ $json.responses.title.value ||  $json.responses.agenda.value}}"
            },
            {
              "id": "ee9dd182-9a1c-4c45-ae4b-9ec3949b9033",
              "name": "purpose",
              "type": "string",
              "value": "={{ $json.userFieldsResponses.purpose.label }}"
            },
            {
              "id": "fdc9ecf9-a14f-41e5-9d8a-7fc61afbb35b",
              "name": "Linkedin",
              "type": "string",
              "value": "={{ $json.responses.Linkedin.value }}"
            },
            {
              "id": "a9e1537e-ba15-4ee6-be86-dc48f32cbfac",
              "name": "business-website",
              "type": "string",
              "value": "={{ $json.responses['business-website'].value }}"
            },
            {
              "id": "8fa1ba2d-a080-4158-a7ef-d933389239dc",
              "name": "Guest",
              "type": "string",
              "value": "={{ $json.responses.guests.value[0] }}"
            },
            {
              "id": "f7d07121-64bf-4b96-a916-f31a639920bb",
              "name": "iCalUID",
              "type": "string",
              "value": "={{ $json.iCalUID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a42dff08-550e-4f12-8d19-f447923adf4a",
      "name": "Map needed fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -736,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "83231439-9c32-443c-86ea-8645f3d76640",
        "options": {}
      },
      "id": "2ee6518d-156d-45f8-8e35-cabe087825f2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1408,
        288
      ],
      "webhookId": "83231439-9c32-443c-86ea-8645f3d76640",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body.payload }}",
        "options": {}
      },
      "id": "fc98a46e-a10f-4863-890a-97de7fc7bf1e",
      "name": "create json",
      "type": "n8n-nodes-base.set",
      "position": [
        -960,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Map needed fields').first().json.Linkedin }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Has LinkedIn"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Map needed fields').first().json.Linkedin }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Email Only"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -512,
        288
      ],
      "id": "38f43694-97cc-49cb-92f2-b06bd156dd14",
      "name": "Route Enrichment"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2632e71f-f277-41c5-8222-3dad0187ddd5",
              "name": "person info",
              "value": "={{ $json.person }}",
              "type": "string"
            },
            {
              "id": "866679c0-0789-4dd1-aa91-c4e443f8ff86",
              "name": "company info",
              "value": "={{ $json.company }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "abf288b6-521e-4686-8cbb-4b73e91ade94",
      "name": "Edit bio",
      "type": "n8n-nodes-base.set",
      "position": [
        -64,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.triggerEvent }}",
                    "rightValue": "BOOKING_CREATED"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "BOOKING_CREATED"
            }
          ]
        },
        "options": {}
      },
      "id": "3f52daba-18b3-4e44-8b55-0011931532a6",
      "name": "Route events",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1184,
        288
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "sendTo": "=",
        "subject": "New Meeting Prep Email",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "id": "ae40aeee-93d7-4480-8332-062419bebb6f",
      "name": "Notify admin",
      "type": "n8n-nodes-base.gmail",
      "position": [
        736,
        288
      ],
      "webhookId": "409d2278-a1bb-4d6f-980a-c9206a3c4f21",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "8o1YK3vv086eN9vl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "id": "8c805640-7bc3-48b0-be40-726ac10622ca",
      "name": "create HTML",
      "type": "n8n-nodes-base.markdown",
      "position": [
        512,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.limadata.com/api/v1/enrich/person",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "\"Enter-your-api-key\""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $(\"Map needed fields\").first().json.email, name: $(\"Map needed fields\").first().json.name, company_domain: $(\"Map needed fields\").first().json[\"business-website\"] ? $(\"Map needed fields\").first().json[\"business-website\"].replace(/https?:\\/\\//, \"\").replace(/\\/.*/, \"\") : null }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        384
      ],
      "id": "133b02b0-0dfc-4bb7-809a-bc4baefeee6f",
      "name": "Enrich via Email"
    },
    {
      "parameters": {
        "content": "## Meeting Prep Agent\n\nAutomatically generates a professional briefing when someone books a Cal.com meeting.\n\n**Flow:** Webhook → Extract fields → Enrich via LimaData → Claude generates profile summary → HTML email sent to you\n\n**Required setup:**\n- Cal.com webhook pointed at this n8n instance (HTTPS required)\n- LimaData API key in both enrichment nodes\n-  Claude API key in the model node\n- Your email address in the Notify admin node",
        "height": 312,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1408,
        -96
      ],
      "id": "a4753c1e-987e-4bcd-abbf-cf3439a00ffb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Cal.com booking form identifiers\n\n`name` `email` (required) `Profile Url` (capital L) `business-website` `notes` `guests` `agenda`",
        "height": 110,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1376,
        528
      ],
      "id": "c3a43a2f-2f7b-4abd-a4b2-e0107adb5c24",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Output pipeline\n\nClaude generates a markdown profile summary → converted to HTML → emailed to you via Gmail",
        "height": 116,
        "width": 400,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "e82f2bde-5383-4baf-abff-99baf6b7c136",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "=\nYou are an expert research analyst specializing in building detailed professional profiles. Given raw LinkedIn profile data, you synthesize everything into a comprehensive, well-structured summary that gives the reader a complete picture of who this person is professionally.\nTask:\nAnalyze the provided LinkedIn profile data and produce a detailed person summary that covers every meaningful dimension of their professional identity.\nInput Format:\nYou will receive a JSON object containing LinkedIn profile data. Fields may include name, headline, location, about, experience (an array of roles with title, company, duration, description), education, skills, certifications, recommendations, activity (recent posts, comments, likes), connections, volunteer, and other available fields. Not all fields will always be present — work with whatever is provided.\nOutput Format:\nProduce a structured summary with the following sections:\n1. Overview\nA 3–5 sentence executive snapshot: who this person is, what they do today, and what defines their career. Write it the way a well-informed colleague would introduce them.\n2. Current Role & Company\nWhat they do now, what their company does, how long they've been there, and any context on their scope or responsibilities inferred from their title, description, or company details.\n3. Career Trajectory\nWalk through their professional journey chronologically (earliest to latest). Highlight patterns — did they climb within one company, jump across industries, shift from technical to leadership roles? Call out notable companies, role progressions, and any pivots.\n4. Domain Expertise & Skills\nBased on their experience descriptions, listed skills, and endorsements, summarize what they're deeply knowledgeable about. Distinguish between core competencies (what they've built a career around) and secondary skills.\n5. Education & Credentials\nDegrees, institutions, certifications, and any notable programs or achievements.\n6. Interests & Activity\nBased on their recent LinkedIn activity (posts, likes, comments, shared articles), summarize what topics they actively engage with. Note any thought leadership patterns — do they post original content, share industry news, or engage in specific communities?\n7. Notable Details\nAnything else worth knowing: volunteer work, board seats, publications, awards, languages, side projects, or anything that rounds out the picture of who they are beyond their job title.\nGuidelines:\n\nBe specific. Use actual company names, titles, timeframes, and details from the data — never generalize when you have specifics.\nConnect the dots. Don't just list facts — interpret them. If someone spent 8 years at a Big 4 firm then moved to a startup, say that.\nIf a field is missing or empty, skip that section silently rather than saying \"no data available.\"\nWrite in a professional but natural tone — like a well-researched briefing, not a robotic data dump.\nKeep the total output between 400–800 words depending on how much data is available.\nInformation about the person:\n{{ $json['person info'] }}\n{{ $json['company info'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        192,
        288
      ],
      "id": "7ac375e5-dfb9-4d5e-bf2e-89cd2220cd2e",
      "name": "Message a model2",
      "credentials": {
        "anthropicApi": {
          "id": "j58Z3cPgEn8t1q3J",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.limadata.com/api/v1/enrich/person",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "\"Enter-your-api-key\""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ linkedin_url: $('Map needed fields').first().json.Linkedin, name: $('Map needed fields').first().json.name }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        192
      ],
      "id": "af512a75-36ca-4fce-9ed4-cfab2d81091b",
      "name": "Enrich via Profile Url"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route events": {
      "main": [
        [
          {
            "node": "create json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create json": {
      "main": [
        [
          {
            "node": "Map needed fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map needed fields": {
      "main": [
        [
          {
            "node": "Route Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Enrichment": {
      "main": [
        [
          {
            "node": "Enrich via Profile Url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enrich via Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich via Email": {
      "main": [
        [
          {
            "node": "Edit bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit bio": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create HTML": {
      "main": [
        [
          {
            "node": "Notify admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "create HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich via Profile Url": {
      "main": [
        [
          {
            "node": "Edit bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0dfbbedd-05f1-449b-aa65-48d95184daea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5dbe54c40996893e5c131afa6ab2b55d63119a5919928f47b2d5e28e8cb7ce3"
  },
  "id": "KwTgB4me062oDezo",
  "tags": []
}